*.pyc
.DS_Store
data.cfg
/.idea
*.xml
*.html
/private
*.log
*.pkl
stock_list.txt
bases.csv
*.csv
*.xls
config.py
conf.py
send_mail.py
user.json
codes.txt
.vscode/
settings.py
keys/
data/
email_list.py
config.json
.ipynb_checkpoints
log/jsl_monitor
configure/
release/